#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_QWR  0
#define L_FN   1
#define L_ADJ  2
#define L_GME  3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Main QWERTY layer

		// ---------------------------------------------------------------------ctrl is left thumb key, alt is right
		// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |
		// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |
		// |  Z  |  X  |  C  |  V  |  B  | CTRL|  N  |  M  |  ,  |  .  |  /  |
		// | ESC | TAB | GUI | SHFT| BSPC| ALT | SPC | FN  |  -  |  '  | ENT |

            bindings = <
			
			    &kp Q     &kp W     &kp E     &kp R     &kp T               &kp Y     &kp U     &kp I     &kp O     &kp P
				&kp A     &kp S     &kp D     &kp F     &kp G               &kp H     &kp J     &kp K     &kp L     &kp SEMI
				&kp Z     &kp X     &kp C     &kp V     &kp B     &kp LCTRL &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH 
				&kp ESC   &kp TAB   &kp LGUI  &kp LSHFT &kp BSPC  &kp LALT  &kp SPACE &mo L_FN  &kp MINUS &kp SQT   &kp ENTER
    
            >;
        };

        l_fn { // FN layer with numbers and arrows
		
		// ---------------------------------------------------------------------ctrl is left thumb key, alt is right
		// |  !  |  @  |  UP |  {  |  }  |     | PGUP|  7  |  8  |  9  |  *  |
		// |  #  | LEFT| DOWN|RIGHT|  $  |     | PGDN|  4  |  5  |  6  |  +  |
		// |  [  |  ]  |  (  |  )  |  &  | CTRL|  `  |  1  |  2  |  3  |  \  |
		// | ADJ | TAB | GUI | SHFT| BSPC| ALT | SPC | FN  |  .  |  0  |  =  |
		
            bindings = <

				&kp EXCL  &kp AT    &kp UP    &kp LBRC  &kp RBRC            &kp PG_UP &kp N7    &kp N8    &kp N9    &kp STAR
				&kp HASH  &kp LEFT  &kp DOWN  &kp RIGHT &kp DLLR            &kp PG_DN &kp N4    &kp N5    &kp N6    &kp PLUS
				&kp LBKT  &kp RBKT  &kp LPAR  &kp RPAR  &kp AMPS  &kp LCTRL &kp GRAVE &kp N1    &kp N2    &kp N3    &kp BSLH 
				&to L_ADJ &kp TAB   &kp LGUI  &kp LSHFT &kp BSPC  &kp LALT  &kp SPACE &trans    &kp DOT   &kp N0    &kp EQUAL

            >;
        };

        l_adj { ADJ layer with Fkeys etc
		
		// ---------------------------------------------------------------------ctrl is left thumb key, alt is right
		// |INSRT| HOME|  UP | END |PSCRN|     | PGUP| F7  | F8  | F9  | F10 |
		// | DEL | LEFT| DOWN|RIGHT| GME |     | PGDN| F4  | F5  | F6  | F11 |
		// |     |     |     |     |     | CTRL|     | F1  | F2  | F3  | F12 |
		// |CAPSL| TAB | GUI | SHFT| BSPC| ALT | SPC | QWR |     |     |ENTER|
		
            bindings = <
			
				&kp INS   &kp HOME  &kp UP    &kp END   &kp PSCRN           &kp PG_UP &kp F7    &kp F8    &kp F9    &kp F10
				&kp DEL   &kp LEFT  &kp DOWN  &kp RIGHT &to L_GME           &kp PG_DN &kp F4    &kp F5    &kp F6    &kp F11
				&trans    &trans    &trans    &trans    &trans    &kp LCTRL &trans    &kp F1    &kp F2    &kp F3    &kp F12 
				&kp CAPS  &kp TAB   &kp LGUI  &kp LSHFT &kp BSPC  &kp LALT  &kp SPACE &to L_QWR &trans    &trans    &kp ENTER

            >;
        };
		
		l_gme { GAMING layer with WASD shifted over and modifers are on the left hand side (right half unchanged)
		
		// ---------------------------------------------------------------------top enter is left thumb key, alt is right
		// | ESC |  Q  |  W  |  E  |  R  |     |  Y  |  U  |  I  |  O  |  P  |
		// | TAB |  A  |  S  |  D  |  F  |     |  H  |  J  |  K  |  L  |  ;  |
		// | LSFT|  Z  |  X  |  C  |  V  |ENTER|  N  |  M  |  ,  |  .  |  /  |
		// | LCTL|  T  |  G  |  B  | SPC | ALT | SPC | QWR |  -  |  '  | ENT |
		
            bindings = <
			
				&kp ESC   &kp Q     &kp W     &kp E     &kp R               &kp Y     &kp U     &kp I     &kp O     &kp P
				&kp TAB   &kp A     &kp S     &kp D     &kp F               &kp H     &kp J     &kp K     &kp L     &kp SEMI
				&kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp ENTER &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH 
				&kp LCTRL &kp T     &kp G     &kp B     &kp SPACE &kp LALT  &kp SPACE &to L_QWR &kp MINUS &kp SQT   &kp ENTER

            >;
        };
    };
};